sympy
singledispatch
scipy
scikit-learn
scandir
rise
pyreadline
psutil
pillow
pathlib2
pandas
packaging
nose
matplotlib
jupyter
jupyter-contrib-nbextensions
ipyparallel
enum34
configparser
certifi
backports.shutil-get-terminal-size
backports-abc
appdirs
